@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color:gray ;
    height: 100vh;
    max-width: 900px;
    font-family: 'Poppins', sans-serif;
    margin:auto;
    text-align: center;
    padding: 50px;
}

.container {
    display:flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #353535;
    padding: 2rem;
}

.container input{
    height: 0rem;
    padding: 1.2rem;
    border-radius:10px;
    box-shadow:  3px 3px 3px #353535;
}

.container button{
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 34);
    cursor: pointer;
}

table{
    width: 100%;
    table-layout: fixed;
    box-shadow: 5px 5px 10px 5px #353535;
}

.output table,th,td{
    border: 2px solid rgb(0, 0, 34);
    padding: 0.5rem;
}


