@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color:rgb(209, 208, 208) ;
    height: 100vh;
    max-width: 900px;
    font-family: 'Poppins', sans-serif;
    margin:auto;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: rgb(164, 164, 164);
    display:flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #353535;
    padding: 2rem;
}

h1, p{
    color: rgb(25, 25, 25);
}

.label{
    color: rgb(8, 8, 8);
}

.container input{
    height: 0rem;
    padding: 1.2rem;
    border-radius:10px;
    box-shadow:  3px 3px 3px #353535;
}

.container button{
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 34);
    cursor: pointer;
}



table{
    width: 100%;
    table-layout: fixed;
    box-shadow: 5px 5px 10px 5px #353535;
}

.no-of-notes{
    background-color: white;
    font-weight: bold;
}

.output table,th,td{
    border: 2px solid rgb(0, 0, 34);
    padding: 0.5rem;
}

.cash-given-input{
    display: none;
}
.returnChange{
    display:none;
}
#error-message{
    color: rgb(164, 6, 6);
    padding-top: 1rem;
}

